################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LinkerMezzanineCardNet/obj
/src/LinkerMezzanineCardNet/.vs
/src/LinkerMezzanineCardNet/bin
